@tailwind base;
@tailwind components;
@tailwind utilities;

.text-color{
      color: rgba(7, 85, 220, 0.889);
}

 .font-color{
     color: #2F2F2F;
 }

.bg-color{
      background-color: rgba(0, 0, 255, 0.692);
}
.bg-button-color{
       background-color: #D59578;
}